h1 {
    font-size:48px;
    background-color:green;
    border : 5mm ridge;
    height: 50px;
    width: 300px;
    ;
 }


 grid-container {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-column-gap: 20px
    grid-row-gap: 20px
    justify-items: stretch
    align-items: stretch
 } 


body {
    text-align:left;
    font-family: 'Gochi Hand', cursive;
    color:white;
    height:100vh;
    width:100vw;
    background:linear-gradient(125deg, royalblue, royalblue 60%, darkorange 60%, darkorange);
}