header {
    background-color:green;
    text-align:center;
    border :5mm ridge;
    height:100 px;
    width:300px;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 5%;
    
}

p {
    font-size: 1.5rem;
    
}



/* h1 {
    font-size:48px;
    background-color:green;
    border : 5mm ridge;
    height: 50px;
    width: 300px;
    ;
 } */


 .grid-container {
    display: grid;
    grid-template-columns: 400px 400px 400px 400px;
    /* grid-column-gap: 30px */
    /* grid-row-gap: 20px */
    justify-items: stretch;
    align-items: stretch;
 } 


body {
    font-family: 'Gochi Hand', cursive;
    color:white;
    height:100vh;
    width:100vw;
    border: 3px solid white;
    background:linear-gradient(150deg, rgb(19, 67, 212), royalblue 60%, darkorange 60%, darkorange);
}